/***********************************************************************/
/* HEADER */
/***********************************************************************/

/* Use layout and visual styles of logo. Use flexbox where header is flex container.  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* fixed height as we want header to be sticky later. */
  height: 9.6rem;
  /* padding top & bottom, left & right. */
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/***********************************************************************/
/* NAVIGATION */
/***********************************************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.8rem;
  /* Use transition property to create animations between different values for a certain property. Animate for all properties for 0.3 seconds */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
/* Style both the main nav link and the nav cta classes. Allways use px for 'border-radius' as don't want this to change.  */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: white;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/***********************************************************************/
/* HERO SECTION */
/***********************************************************************/

/*
 
https://maketintsandshades.com/#e67e22 
with background-color always need alot of padding top & bottom

*/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* when the element is larger than the container, it will occupy 100% of it. */
  max-width: 130rem;
  /* center it inside the viewport. */
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem; /* gap beween columns */
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* Layout imgs side-by-side with the text using flex not grid as we don't care about the size of columns as let the content determin that. */
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

/* Format imgs should be flex images. */
.delivered-imgs {
  display: flex;
}

/* use the decentant selector to select the images <img /> */
/* Overlap imgs ontop of each other and with a border that is same color as the background-color. use 'gap' for spacing.  */
/*   This will pull imgs 16px to the left: margin-right: -1.6rem; */

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

/* use last child sudo class to select the last img to change the style of that img only - set back to 0 */
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

/* span: Use a decentant selector rather than another class */
/* Make sure the text color has contrast with the background-color using: https://coolors.co/ -> contrast-checker -> past our color */
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/***********************************************************************/
/* FEATURED IN SECTION */
/***********************************************************************/

/* Less padding on the bottom */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600rem;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #666;
}

.logos {
  display: flex;
  justify-content: space-around;
}
/* Make img from full color to gray. */
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 65%;
}

/***********************************************************************/
/* HOW IT WORKS SECTION */
/***********************************************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 3rem;
}

/* To center img vertically and horizontally use flexbox and align-item: center */
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  /* Circle to occupy same space as img: using absolute positioning instead of flexbox. Transform circle to its -50% of its own width and -50% of its own height */
  /* Use css property Z Index to move circle behind img. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Circle behind iPhone img due to dead space between text and img. Use % as we want this to be flexible. */
.step-img-box::before {
  width: 60%;
  /* height: 60%  */

  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

/* Another sudo element. Cannot use before again so use after */

.step-img-box::after {
  width: 45%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}
